mlflow="^2.10.0"
torch="^2.2.0"
tensorflow="=2.12.1"
torch="=2.0.1"
torchtext="=0.15.2"
keras-tuner="=1.4.6"
requests="^2.31.0"
scikit-learn="^1.4.0"
pandas="^2.2.0"
ray["tune"]="^2.9.1"
jupyter
ipykernel